body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background: linear-gradient(rgb(2, 2, 199), rgb(1, 247, 255));
    color: rgb(253, 253, 88);
    height: 80px;
    margin-bottom: 20px;
}

main {
    margin: 0 30px;
    max-height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.insertField {
    border: 2px solid  rgb(0, 247, 255);
    width: 250gopx;
}

.saveButton {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 3px solid rgb(0, 247, 255);
    border-radius: 10px;
    color: rgb(0, 102, 255);
    cursor: pointer;
}

.saveButton:hover {
    background-color: rgb(199, 199, 199);
    color: red;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.note {
    background-color: rgb(253, 253, 122);
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid orange;
    box-shadow: 5px 5px 10px 0.5px;
    transition: 0.3s;
}


p {
    margin-block-end: 4em;
}


#note:hover {
    transform: scale(1.15);
    background-color: rgb(255, 255, 34);
}

.buttonContainer {
    display: flex;
    align-items: end;
    padding-left: 150px;
    padding-bottom: 10px;
}

.deleteButton{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: red;
    border: 2px solid;
    text-align: center;
}

.deleteButton:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(3, 174, 241);
}
.noteHeadline {
    text-align: center;
    text-decoration: underline;
    color: rgb(93, 93, 255);
}

.trashHeadline {
    color: rgb(93, 93, 255);
    text-align: center;
    text-decoration:underline;
}

#trashContent {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer {
    height: 80px;
    background: linear-gradient(rgb(1, 247, 255), rgb(2, 2, 199));
}